body{
  background-color:#8873C9;
  margin-left:2vh;
}
body.victory{
  background:;
   margin-left:2vh;
}

}
:root {
  --inner: #7D57F2;
  --border: #2F1551;
  --accent: #B1A7EA;
}

div.header{
  display: flex;
  justify-content: space-between;
  height: 6vh;
  max-width: 100vw;
  padding-left: 2vw;
  padding-right: 2vw;
  align-items: center;
  padding-bottom: 1.5vh;
  padding-top: 3vh;
}
div#header{
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
}
img#header{
  width:6vw;
}
img.header{
  height:6vh;
}
img#button{
    height: 5vh;
    margin-right: 1.5vh;
}
.buttons{
display: flex;
  margin-right: 9vh;
}


.main_content{
  max-height: 65vh;
  display: flex;
  justify-content: space-between;
  margin-left: 2vw;
  margin-right: 2vw;
  padding-bottom: 4vh;
  padding-top: 2vh;
}
.etats{
  background: url('images/bg_river.svg') no-repeat center center ;
  background-size: cover;
  min-height: 65vh;
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  margin-right: 1.5vw;
  box-shadow:
    /* Inner Background Color -- Same as inner */
      0   -6px 0  -2px var(--border),
      0    6px 0  -2px var(--border),
      0  -12px 0  -4px var(--border),
      0   12px 0  -4px var(--border),
      0  -18px 0  -8px var(--border),
      0   18px 0  -8px var(--border),
      0  -24px 0 -12px var(--border),
      0   24px 0 -12px var(--border);
}


ul.gauche,.droite{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top:6vh;
  padding-bottom:6vh;
}
ul.gauche{
  padding-left: 6vw;
  margin-right: 20vw;
}
ul.droite{
  padding-right: 6vw;
  margin-left: 20vw;
}

li#gauche,#droite{
  height: 11vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
div.torch{
  display: flex;
  flex-direction: row;
}

ul.torch_timer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

li#torch_timer{
  width: 6vw;
  flex-grow: 1;
  display:flex;
  justify-content: center;
  align-items: center;
}

img#monk{
    height: 19vh;
}
img#torch{
    height: 30vh;
}
img#monks{
    height: 11vh;
}

li#timer{
  width: 4vw;
  flex-grow: 1;
  display:flex;
  justify-content: center;
  align-items: center;
  padding-right: 1.5vw;
}

aside{
  height: 16vh;
  margin-left: 2vw;
  margin-right: 2vw;
}

img#action{
  height:16vh;
}

ul.action{
  height:15vh;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--accent);
  box-shadow:
      0   -6px 0  -2px var(--accent),
      0    6px 0  -2px var(--accent),
      0  -12px 0  -4px var(--accent),
      0   12px 0  -4px var(--accent),
      0  -18px 0  -8px var(--accent),
      0   18px 0  -8px var(--accent),
      0  -24px 0 -12px var(--accent),
      0   24px 0 -12px var(--accent);
    }
img#action{
width: 100%;
}
li#actions{
  height: 15vh;
  width: 24vh;
  flex-grow: 1;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


li#action{
  height: 15vh;
  min-width: 14vh;
  margin: 1vh;
  flex-grow: 1;
  display:flex;
  justify-content: center;
  align-items: center;
  background: var(--inner);
  box-shadow:
  /* Inner Background Color -- Same as inner */
    0   -6px 0  -2px var(--inner),
    0    100px 0  0px var(--inner),
    0  -12px 0  -4px var(--inner),
    0   12px 0  -4px var(--inner),
    0  -18px 0  -8px var(--inner),
    0   18px 0  -8px var(--inner),
    0  -24px 0 -12px var(--inner),
    0   24px 0 -12px var(--inner),
    /* Middle Border -- Accent */
    -4px  0   0   0   var(--border),
    4px  0   0   0   var(--border),
    0   -2px 0   2px var(--border),
    0    100px 0   4px var(--border),
    0   -8px 0   0px var(--border),
    0    100px 0   0px var(--border),
    0  -12px 0  -2px var(--border),
    0   100px 0  -2px var(--border),
    0  -16px 0  -4px var(--border),
    0   100px 0  -4px var(--border),
    0  -22px 0  -8px var(--border),
    0   100px 0  -8px var(--border),
    0  -28px 0 -12px var(--border),
    0   100px 0 -12px var(--border);
}

.footer{
  min-height: 2vh;
}
